--
-- PostgreSQL database cluster dump
--

\restrict ok1i27gkEPlYQLGVeq1saTa2O1ShQjwi6h3H8EDW2xzAkuiQlAPswxbEMJEifns

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE appdb;




--
-- Drop roles
--

DROP ROLE admin;


--
-- Roles
--

CREATE ROLE admin;
ALTER ROLE admin WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:f9HipeMq3QSH0rW0DbvoDw==$+386GZ+1KVI8OV6U1KdkDW7GxmQ8uipJi8SzIntTbXc=:dzXq4D+b6xylea6n/H8J8edozgELP1iUWxY+0PDz/H4=';

--
-- User Configurations
--








\unrestrict ok1i27gkEPlYQLGVeq1saTa2O1ShQjwi6h3H8EDW2xzAkuiQlAPswxbEMJEifns

--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

\restrict gp8PaMup6HxKnfBGbmy6nc5TwZwryScmvFftGOJADhJpXMX4hvGtSK88YjMjJ52

-- Dumped from database version 15.16 (Debian 15.16-1.pgdg13+1)
-- Dumped by pg_dump version 15.16 (Debian 15.16-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: admin
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO admin;

\unrestrict gp8PaMup6HxKnfBGbmy6nc5TwZwryScmvFftGOJADhJpXMX4hvGtSK88YjMjJ52
\connect template1
\restrict gp8PaMup6HxKnfBGbmy6nc5TwZwryScmvFftGOJADhJpXMX4hvGtSK88YjMjJ52

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: admin
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\unrestrict gp8PaMup6HxKnfBGbmy6nc5TwZwryScmvFftGOJADhJpXMX4hvGtSK88YjMjJ52
\connect template1
\restrict gp8PaMup6HxKnfBGbmy6nc5TwZwryScmvFftGOJADhJpXMX4hvGtSK88YjMjJ52

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: admin
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict gp8PaMup6HxKnfBGbmy6nc5TwZwryScmvFftGOJADhJpXMX4hvGtSK88YjMjJ52

--
-- Database "appdb" dump
--

--
-- PostgreSQL database dump
--

\restrict 2NJQZwBUYuaZtqxkZUdGYUAVyKi2zuCfm05vp08ys5rymoGdUdeOLYJIdE4BdPO

-- Dumped from database version 15.16 (Debian 15.16-1.pgdg13+1)
-- Dumped by pg_dump version 15.16 (Debian 15.16-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: appdb; Type: DATABASE; Schema: -; Owner: admin
--

CREATE DATABASE appdb WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE appdb OWNER TO admin;

\unrestrict 2NJQZwBUYuaZtqxkZUdGYUAVyKi2zuCfm05vp08ys5rymoGdUdeOLYJIdE4BdPO
\connect appdb
\restrict 2NJQZwBUYuaZtqxkZUdGYUAVyKi2zuCfm05vp08ys5rymoGdUdeOLYJIdE4BdPO

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: community_comments; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.community_comments (
    id integer NOT NULL,
    post_id integer NOT NULL,
    user_id integer NOT NULL,
    text character varying(500) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.community_comments OWNER TO admin;

--
-- Name: community_comments_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.community_comments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.community_comments_id_seq OWNER TO admin;

--
-- Name: community_comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.community_comments_id_seq OWNED BY public.community_comments.id;


--
-- Name: community_likes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.community_likes (
    id integer NOT NULL,
    post_id integer NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.community_likes OWNER TO admin;

--
-- Name: community_likes_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.community_likes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.community_likes_id_seq OWNER TO admin;

--
-- Name: community_likes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.community_likes_id_seq OWNED BY public.community_likes.id;


--
-- Name: community_posts; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.community_posts (
    id integer NOT NULL,
    owner_id integer NOT NULL,
    image_path character varying(255) NOT NULL,
    ai_operation character varying(50),
    caption text,
    likes integer NOT NULL,
    views integer NOT NULL,
    shared_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.community_posts OWNER TO admin;

--
-- Name: community_posts_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.community_posts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.community_posts_id_seq OWNER TO admin;

--
-- Name: community_posts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.community_posts_id_seq OWNED BY public.community_posts.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    username character varying(100) NOT NULL,
    hashed_pw character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    consent_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: community_comments id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.community_comments ALTER COLUMN id SET DEFAULT nextval('public.community_comments_id_seq'::regclass);


--
-- Name: community_likes id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.community_likes ALTER COLUMN id SET DEFAULT nextval('public.community_likes_id_seq'::regclass);


--
-- Name: community_posts id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.community_posts ALTER COLUMN id SET DEFAULT nextval('public.community_posts_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: community_comments; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.community_comments (id, post_id, user_id, text, created_at) FROM stdin;
\.


--
-- Data for Name: community_likes; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.community_likes (id, post_id, user_id, created_at) FROM stdin;
1	1	3	2026-04-03 20:20:41.08283+00
\.


--
-- Data for Name: community_posts; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.community_posts (id, owner_id, image_path, ai_operation, caption, likes, views, shared_at, updated_at) FROM stdin;
1	3	4e17f06a-aa1f-463a-9e12-2a22d422aa04.png	\N	NSFW modeli ├ğ├Âkt├╝ be abi!!	1	0	2026-04-03 20:20:36.70401+00	2026-04-03 20:20:41.071359+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: community_comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.community_comments_id_seq', 1, false);


--
-- Name: community_likes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.community_likes_id_seq', 1, true);


--
-- Name: community_posts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.community_posts_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: community_likes _post_user_uc; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.community_likes
    ADD CONSTRAINT _post_user_uc UNIQUE (post_id, user_id);


--
-- Name: community_comments community_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.community_comments
    ADD CONSTRAINT community_comments_pkey PRIMARY KEY (id);


--
-- Name: community_likes community_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.community_likes
    ADD CONSTRAINT community_likes_pkey PRIMARY KEY (id);


--
-- Name: community_posts community_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.community_posts
    ADD CONSTRAINT community_posts_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_community_comments_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_community_comments_id ON public.community_comments USING btree (id);


--
-- Name: ix_community_comments_post_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_community_comments_post_id ON public.community_comments USING btree (post_id);


--
-- Name: ix_community_comments_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_community_comments_user_id ON public.community_comments USING btree (user_id);


--
-- Name: ix_community_likes_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_community_likes_id ON public.community_likes USING btree (id);


--
-- Name: ix_community_likes_post_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_community_likes_post_id ON public.community_likes USING btree (post_id);


--
-- Name: ix_community_likes_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_community_likes_user_id ON public.community_likes USING btree (user_id);


--
-- Name: ix_community_posts_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_community_posts_id ON public.community_posts USING btree (id);


--
-- Name: ix_community_posts_owner_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_community_posts_owner_id ON public.community_posts USING btree (owner_id);


--
-- Name: ix_community_posts_shared_at; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_community_posts_shared_at ON public.community_posts USING btree (shared_at);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: community_comments community_comments_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.community_comments
    ADD CONSTRAINT community_comments_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.community_posts(id) ON DELETE CASCADE;


--
-- Name: community_comments community_comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.community_comments
    ADD CONSTRAINT community_comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: community_likes community_likes_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.community_likes
    ADD CONSTRAINT community_likes_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.community_posts(id) ON DELETE CASCADE;


--
-- Name: community_likes community_likes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.community_likes
    ADD CONSTRAINT community_likes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: community_posts community_posts_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.community_posts
    ADD CONSTRAINT community_posts_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 2NJQZwBUYuaZtqxkZUdGYUAVyKi2zuCfm05vp08ys5rymoGdUdeOLYJIdE4BdPO

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

\restrict IzBZJuIWImaMCo05nHdv0IQJ1FLbRcJZQKRiPahjie1VIxnazkdg3hXTTSd9e4v

-- Dumped from database version 15.16 (Debian 15.16-1.pgdg13+1)
-- Dumped by pg_dump version 15.16 (Debian 15.16-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: admin
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO admin;

\unrestrict IzBZJuIWImaMCo05nHdv0IQJ1FLbRcJZQKRiPahjie1VIxnazkdg3hXTTSd9e4v
\connect postgres
\restrict IzBZJuIWImaMCo05nHdv0IQJ1FLbRcJZQKRiPahjie1VIxnazkdg3hXTTSd9e4v

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

\unrestrict IzBZJuIWImaMCo05nHdv0IQJ1FLbRcJZQKRiPahjie1VIxnazkdg3hXTTSd9e4v

--
-- PostgreSQL database cluster dump complete
--

